@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro');

html {
  background-color: white;
  font-family: 'Be Vietnam Pro', sans-serif;
}

body {
  margin: 0;
}

.intro {
  text-align: center;
}

.container {
  margin: 0 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 1.5rem;
}
#footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-color: #546e7a;
  padding: 20px 0;
  color: white;
  text-align: center;
  font-size: 1.6rem;
}

#footer a {
  color: #64b5f6;
}

.challenge-card {
  border-radius: 3%;
  width: 400px;
  height: 420px;
  overflow: auto;
  box-shadow: 0px 0px 20px 0px rgba(151, 151, 151, 0.5);
  transition: 0.3s;
  display: inline-block;
}
.challenge-card:hover {
  box-shadow: 0px 0px 20px 0px rgba(78, 78, 78, 0.5);
  transition: 0.3s;
}
.challenge-card__container {
  margin: 0 20px;
}

.challenge-card__banner {
  object-fit: fill;
  height: 250px;
  width: 100%;
}

.challenge-card__title {
  font-size: 1.5rem;
}

.challenge-card__language--html,
.challenge-card__language--css {
  text-transform: uppercase;
  font-weight: 600;
}

.challenge-card__language--html {
  color: rgb(106, 190, 205);
}

.challenge-card__language--css {
  color: rgb(62, 84, 163);
}

.challenge-card__button {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-style: none;
  overflow: auto;
  transition: 0.3s;
  border-radius: 10%;
}

.challenge-card__button--image {
  width: 40px;
  margin: 0;
  padding: 0;
}

.challenge-card__button--example {
  background-color: #50c8ff;
  cursor: pointer;
}

.challenge-card__button--github {
  background-color: #c7c7c7;
  cursor: pointer;
}

.challenge-card__button--example:hover {
  background-color: #398eb6;
}

.challenge-card__button--github:hover {
  background-color: #7c7c7c;
}

a.challenge-card__link {
  display: inline-block;
  position: relative;
  width: 50px;
  margin-right: 10px;
}

@media (max-width: 1300px) {
  .container {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 860px) {
  #footer {
    font-size: 1rem;
  }
  .container {
    grid-template-columns: auto;
  }
  .challenge-card {
    width: 300px;
  }
}
