@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro');

html {
  background-color: white;
  font-family: 'Be Vietnam Pro', sans-serif;
}

body {
  margin: 0;
}

.intro {
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-color: #546e7a;
  padding: 20px;
  color: white;
  text-align: center;
}

#footer a {
  color: #64b5f6;
}

.challenge-card {
  border-radius: 3%;
  width: 400px;
  height: 500px;
  overflow: auto;
  box-shadow: 0px 0px 10px 0px;
}

.challenge-card__banner {
  background: url('https://images.unsplash.com/photo-1495616811223-4d98c6e9c869?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80');
  height: 250px;
}
