@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

html {
  background-color: hsl(226, 43%, 10%);
  color: white;
  font-family: 'Rubik', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stat-card {
  width: 200px;
  height: 200px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 3%;
}

.stat-card__title {
  font-size: 1rem;
  font-weight: 500;
}

.stat-card__time {
  font-size: 3rem;
  font-weight: 300;
}

.stat-card__previous-time {
  font-weight: 300;
}
