@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

body {
  background: url(./images/bg-pattern-bottom.svg);
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
}
.profile-card {
  /* TODO: shadows */
  width: 400px;
  height: 400px;
  border-radius: 3%;
  background-color: white;
  position: relative;
}

.profile-card__pattern--top {
  background: url(./images/bg-pattern-card.svg);
  width: 100%;
  height: 120px;
}

.profile-card__picture {
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 70px;
  left: 38%;
}

.profile-card__info {
  top: 15%;
  position: relative;
  text-align: center;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

.profile-card__name {
  font-size: 18px;
  font-weight: 900;
  color: black;
}

.profile-card__divider {
  border: 0.1px solid rgb(245, 245, 245);
}
