@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

html {
  font-family: 'Libre Franklin', sans-serif;
}

h1 {
  font-weight: 300;
  margin-top: 4rem;
}
span {
  font-weight: 700;
}
img {
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.input-container {
  display: grid;
  grid-template-columns: 300px 100px;
  gap: 1.5rem;
}

.input__email {
  border-radius: 20px;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.226);
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
}
