@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
html {
  background-color: rgb(252, 237, 207);
}
button {
  background-color: white;
  border: none;
  font-family: 'Lexend Deca', sans-serif;
  padding: 13px 25px;
  border-radius: 20px;
  position: absolute;
  bottom: 40px;
}
.button-1 {
  color: hsl(31, 77%, 52%);
}

.button-2 {
  color: hsl(184, 100%, 22%);
}

.button-3 {
  color: hsl(179, 100%, 13%);
}

.card {
  width: 700px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: auto;
  color: white;
}

.card__section {
  padding: 20px 30px;
  max-width: 200px;
}

.card__section--title {
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
}
.card__section--description {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 100;
  margin: 0;
}

.card__section--1 {
  background-color: hsl(31, 77%, 52%);
}
.card__section--2 {
  background-color: hsl(184, 100%, 22%);
}
.card__section--3 {
  background-color: hsl(179, 100%, 13%);
}
